[Unit]
Description=Tasmota Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=USER
Group=USER
Type=simple
ExecStart=/path/to/exporter
WorkingDirectory=/path/to
Restart=unless-stopped
Environment=USER=USER HOME=/home/USER

LimitMEMLOCK=infinity
LimitNOFILE=65535

# Some distributions may not support these hardening directives. If you cannot start the service due
# to an unknown option, comment out the ones not supported by your version of systemd.
ProtectSystem=full
PrivateDevices=yes
PrivateTmp=yes
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
